<tr>
  <td><%= route.title %></td>
  <td><%= link_to 'Show', [:admin, route], class: "btn btn-sm btn-primary" %></td>
  <td><%= link_to 'Destroy', [:admin, route], method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger"  %></td>
</tr>