<% if @trains %>
  <% @trains.each do |train| %>
  <h3>Поезд номер: <%= train.number %></h3>
  <ul>
    <li>Время отправления со станции <%= @start_station.title %> </li>
    <li>Время прибытия на станцию <%= @end_station.title %> </li>
    <li><%= button_to 'Купить билет', new_ticket_path, method: :get, params: {train_id: train.id, start_station_id: @start_station.id, end_station_id: @end_station.id} %></li>
  </ul>
  <% end %>
<% end %>