<p>Здравствуйте, <%= @user.name%></p>
<p>Похоже, вы передумал ехать и отменили билет № <%= @ticket.number %></p>
<p>Если вы передумаете, то добро пожаловать <%= link_to "снова", root_url %></p>

<p>Все свои билеты вы можете увидеть <%= link_to "здесь", tickets_url %></p>